.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.emt{
   background: transparent
   url("../images/avatars/emt.png")
   no-repeat scroll center top / 58px 58px;
}

.hide{
    display: none;
}

.msg-bubble{
    background: transparent linear-gradient(to bottom,
    rgb(172, 148, 197) 50%, rgb(136, 102, 172) 50%) repeat scroll 0% 0%; 
    color: rgb(255, 255, 255);
}
//以下为复制粘贴

//---------------------干脆全部复制得了